<!DOCTYPE html>

{% load widget_tweaks %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospital | Doctor Sign Up Page</title>
</head>
<body>
    
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="container register-form">
            <div class="form">
                <div class="form-group">
                    {% render_field doctorUserForm.first_name class="form-control" placeholder="First Name" %}
                </div>
                <div class="form-group">
                    {% render_field doctorUserForm.last_name class="form-control" placeholder="Last Name" %}
                </div>
                
                <div class="form-group">
                    {% render_field doctorUserForm.username class="form-control" placeholder="Username" %}
                </div>

                <div class="form-group">
                    {% render_field doctorUserForm.password class="form-control" placeholder="Password" %}
                </div>
                <div class="form-group">
                    {% render_field doctorCustomForm.hospital class="form-control" placeholder="First Name" %}
                </div>
                <div class="form-group">
                    {% render_field doctorCustomForm.profilePicture class="form-control" placeholder="First Name" %}
                </div>




            </div>
        </div>
        <button type="submit">Register</button>
    </form>
</body>
</html>