<!DOCTYPE html>
{% load widget_tweaks %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospital | Doctor Dashboard</title>
</head>
<body>
    <a href="/doctorDashboard">All Reports</a>
    <a href="/doctorDashboardPendingReports">Pending Reports</a>
    <a href="/doctorDashboardCompletedReports">Completed Reports</a>
    <div>
        Total Number of Reports: {{ reportCount }}
    </div>

    <div>
        Number of pending reports : {{ pendingReportCount }}
    </div>

    <div>
        Number of completed reports: {{ completedReportCount }}
    </div>
    <hr>
    <div class="">
        Current Doctor Id: {{ doctorId }}
    </div>

    <div>
        Current Doctor Name: {{ doctorName }}
    </div>
    <hr>
    <div class="">
        Reports
        <div class="">
            {% for report in reports %}
            <div>
                Name : {{ report.name }}
            </div>
            <div>
                Doctor Id : {{ report.doctor_id }}
            </div>
            <div>
                Status: {{ report.completed }}
            </div>


            <a href="{{ report.get_absolute_url }}">View Report</a>
            {% endfor %}
            <a href="/logOut">Log Out</a>
        </div>
    </div>
</body>
</html>